@model StackUnderflow.Entities.QuestionForView

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt>
            Make Your Voice Heard!
        </dt>
        <dd>
            <form asp-action="VoteQuestion">
                <input type="hidden" name="QuestionId" id="UpTheQuestion" value="@Model.Id" />
                <input type="hidden" name="Value" id="UpValue" value="1" />
                <input type="submit" value="UpVote" class="btn btn-default btn-sm" />
            </form>
            <form asp-action="VoteQuestion">
                <input type="hidden" name="QuestionId" id="DownTheQuestion" value="@Model.Id" />
                <input type="hidden" name="Value" id="UpValue" value="-1" />
                <input type="submit" value="DownVote" class="btn btn-default btn-sm" />
            </form>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div style="padding-left:15px; border-left:2px solid black;">
    @foreach (var response in Model.Responses)
    {
        if (response.IsSolution)
        {
            <h5 style="color:white; background-color:green;">Solution!</h5>
        }
        else
        {
            <form asp-action="MarkSolution">
                <input type="hidden" name="ResponseId" id="SolResponseId" value="@response.Id" />
                <input type="hidden" name="QuestionId" id="SolQuestionId" value="@Model.Id" />
                <input type="hidden" name="Value" id="UpValue" value="0" />
                <input type="submit" value="Mark as Solution" class="btn btn-default btn-xs btn-success" />
            </form>
        }
    <p>
        Popularity: @Html.DisplayFor(modelItem => response.Popularity)
        <form asp-action="VoteResponse">
            <input type="hidden" name="ResponseId" id="UpResponseId" value="@response.Id" />
            <input type="hidden" name="QuestionId" id="UpQuestionId" value="@Model.Id" />
            <input type="hidden" name="Value" id="UpValue" value="1" />
            <input type="submit" value="UpVote" class="btn btn-default btn-xs" />
        </form>
        <form asp-action="VoteResponse">
            <input type="hidden" name="ResponseId" id="DownResponseId" value="@response.Id" />
            <input type="hidden" name="QuestionId" id="DownQuestionId" value="@Model.Id" />
            <input type="hidden" name="Value" id="UpValue" value="-1" />
            <input type="submit" value="DownVote" class="btn btn-default btn-xs" />
        </form>
    </p>
        <p>
            @Html.DisplayFor(modelItem => response.Body)
        </p>
        <br />
            foreach (var comment in response.Comments)
            {
                <p style="padding-left:15px; border-left:1px solid black;">
                    @Html.DisplayFor(commentItem => comment.Body)
                </p>
                <hr />
            }
            <form asp-action="AddComment" style="padding-left:15px; border-left:1px solid black;">
                <input type="hidden" name="ResponseId" id="ResponseId" value="@response.Id" />
                <input type="hidden" name="QuestionId" id="QuestionId" value="@Model.Id" />
                <label for="Body">Add Your Thoughts</label>
                <input type="text" id="Body" name="Body" />
                <input type="submit" value="Post" class="btn btn-default" />
            </form>
            <hr />
    }
    <form asp-action="AddResponse">
        <input type="hidden" name="QuestionId" id="QuestionId" value="@Model.Id" />
        <label for="Body">Add a Solution</label>
        <input type="text" id="Body" name="Body" />
        <input type="submit" value="Post" class="btn btn-default" />
    </form>
</div>
