@model StackUnderflow.Entities.QuestionForView

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div style="padding-left:15px; border-left:2px solid black;">
    @foreach (var response in Model.Responses)
    {
        <p>
            Popularity: @Html.DisplayFor(modelItem => response.Popularity)
        </p>
        <p>
            @Html.DisplayFor(modelItem => response.Body)
        </p>
        <br />
            foreach (var comment in response.Comments)
            {
            <p style="padding-left:15px; border-left:1px solid black;">
                Popularity: @Html.DisplayFor(commentItem => comment.Popularity)
            </p>
            <p style="padding-left:15px; border-left:1px solid black;">
                @Html.DisplayFor(commentItem => comment.Body)
            </p>
            <br />
            }
            <form asp-action="AddComment" style="padding-left:15px; border-left:1px solid black;">
                <input type="hidden" name="ResponseId" id="ResponseId" value="@response.Id" />
                <input type="hidden" name="QuestionId" id="QuestionId" value="@Model.Id" />
                <label for="Body">Add Your Thoughts</label>
                <input type="text" id="Body" name="Body" />
                <input type="submit" value="Post" class="btn btn-default" />
            </form>
            <hr />
    }
    <form asp-action="AddResponse">
        <input type="hidden" name="QuestionId" id="QuestionId" value="@Model.Id" />
        <label for="Body">Add a Solution</label>
        <input type="text" id="Body" name="Body" />
        <input type="submit" value="Post" class="btn btn-default" />
    </form>
</div>
